body {
    background-color: #ed789ab1;
    
}
.btn-primary {
    background-color: #3573b693;
    border-color: #000000;
    border-radius: 50px;
    color: #000000;
}

.btn-custom:hover {
    background-color: #231492b7;
}

.pink-table {
    background-color: pink;
    color: #000000;
}

.pink-input{
    background-color: pink;
    border: 1px solid black;
    color: black;
    border-radius: 5px;
    padding: 5px 10px;
}