body {
    background-color: #ed789ab1;
    
}
.btn-primary {
    background-color: #3573b693;
    border-color: #000000;
    border-radius: 50px;
    color: #000000;
}

.btn-custom:hover {
    background-color: #231492b7;
}

table {
    color: #c6545461;
}