body {
    background-color: #e797a9;
    
}
.btn-primary {

    border: none;

    background-color: #b94d5993;

    border-radius: 50px;

    color: #371111;
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {

    margin-top: 0;

    margin-bottom: .5rem;

    font-weight: 500;

    line-height: 1.2;

    color: #8d4545;
}

.btn-custom:hover {
    background-color: #520505ea;
}

.pink-table {
    background-color: pink;
    color: #000000;
}

.pink-input{
    background-color: #ecc6ce;
    border: 1px solid black;
    color: black;
    border-radius: 5px;
    padding: 5px 10px;
}


