<!DOCTYPE html>
<html lang="en" 
xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 
<link rel="stylesheet" href="/css/styles.css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muokkaa tilausta</title>
</head>
<body>
    <h1>Tilauksen tietojen muokkaus</h1>
    <form th:object="${tilaus}" th:action="@{../savet}" action="#" method="post">
        <label for="id"></label>
        <input type="hidden" id="id" th:field="*{tilausid}" readonly="readonly" />

        <label for="asiakas">Asiakas</label>
        <select id="asiakas" th:field="*{asiakas}" class="pink-input">
            <option th:each="asiakas : ${asiakkaat}" th:value="${asiakas.asiakasid}" th:text="${asiakas.sukunimi} + ' ' + ${asiakas.etunimi}"></option>
        </select>

        <label for="tuote">Tuote</label>
        <select id="tuote" th:field="*{tuote}" class="pink-input">
            <option th:each="tuote : ${tuotteet}" th:value="${tuote.tuoteId}" th:text="${tuote.nimi}"></option>
        </select>

        <input type="submit" class="pink-input" value="Save"></input>
    </form>
    <a class="pink-input" href="/tilaukset">Takaisin asiakkaisiin</a>
</body>
</html>