<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tuotteet</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

    <script>
        // Poiston varmistus funktio
        function confirmDelete(event) {
            event.preventDefault();
            const confirmation = confirm("Haluatko varmasti poistaa tämän tuotteen?");
            if (confirmation) {
                window.location.href = event.target.href; // Siirtyy poistolinkkiin, jos vahvistettu
            }
        }

        // Funktio joka piilottaa koko optionin jos "LELU" on valittu
        function toggleKokoField() {
            const tyyppiSelect = document.getElementById("tyyppiSelect");
            const kokoField = document.getElementById("kokoField");

            if (selectedValue === "LELU" || selectedValue === "RUOKA") {
            kokoField.style.display = "none";
            } else {
            kokoField.style.display = "block";
            }
        }

        // Varmistaa että koko valikko tulee näkyviin heti kun lelu on valittu
        document.addEventListener("DOMContentLoaded", function() {
            toggleKokoField(); 
            document.getElementById("tyyppiSelect").addEventListener("change", toggleKokoField); 
        });
    </script>
</head>

<body>
    <div style="padding-right: 5%; padding-left: 5%; padding-top: 5%;">
        <div style="display: flex; justify-content: flex-end;">
            <a class="btn btn-primary" href="/index">Takaisin etusivulle</a>
        </div>

        <div>
            <h1>Lisää Tuote</h1>
        </div>

        <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <div style="width: 100%;">
                <form th:object="${tuote}" th:action="@{save}" action="#" method="post" style="display: flex; gap: 9px; align-items: center; flex-wrap: wrap; flex-direction: row;">
                    <label for="title">Nimi</label>
                    <input type="text" id="title" th:field="*{nimi}" />
                    <span th:if="${#fields.hasErrors('nimi')}" th:errors="*{nimi}"></span>
                    
                    <label for="tyyppi">Tyyppi</label>
                    <select id="tyyppiSelect" th:field="*{tyyppi}">
                        <option th:each="tyyppi : ${tuotetyypit}" th:value="${tyyppi.tyyppiId}" th:text="${tyyppi.tyyppiNimi}"></option>
                    </select>
                    <span th:if="${#fields.hasErrors('tyyppi')}" th:errors="*{tyyppi}"></span>

                    <label for="vari">Väri</label>
                    <input type="text" id="author" th:field="*{vari}" />
                    <span th:if="${#fields.hasErrors('vari')}" th:errors="*{vari}"></span>
                    

                    <label for="hinta">Hinta</label>
                    <input type="text" th:field="*{hinta}" />
                    <span th:if="${#fields.hasErrors('hinta')}" th:errors="*{hinta}"></span>

                    <label for="varastossa">Varastossa</label>
                    <input type="text" th:field="*{varastomaara}" />
                    <span th:if="${#fields.hasErrors('varastomaara')}" th:errors="*{varastomaara}"></span>

                    <label for="valmistaja">Valmistaja</label>
                    <select th:field="*{valmistaja}">
                        <option th:each="valmistaja : ${valmistajat}" th:value="${valmistaja.valmistajaId}" th:text="${valmistaja.valmistajaNimi}"></option>
                    </select>
                    <span th:if="${#fields.hasErrors('valmistaja')}" th:errors="*{valmistaja}"></span>

                    <div style="display: flex;"id="kokoField"  >
                        <label id="kokoField" for="koko">Koko</label>
                        <select th:field="*{koko}">
                            <option th:each="koko : ${koot}" th:value="${koko}" th:text="${koko}"></option>
                        </select>
                        <span th:if="${#fields.hasErrors('koko')}" th:errors="*{koko}"></span>
                    </div>
                    <input type="submit" value="Save" />
                   
                </form>
            </div>

           
        </div>
    </div>

    <div style="display: flex; justify-content: space-between; align-items: center; padding-right: 5%; padding-left: 5%; padding-top: 5%;">
        <h2>Tuotteet</h2>
    </div>

    <div style="padding-left: 5%; padding-right: 5%; padding-top: 2%;">
        <table class="table table-striped" style="margin: 0 auto;">
            <thead>
                <tr>
                    <th>Nimi</th>
                    <th>Tyyppi</th>
                    <th>Väri</th>
                    <th>Koko</th>
                    <th>Hinta</th>
                    <th>Varastossa</th>
                    <th>Valmistaja</th>
                    <th sec:authorize="hasAuthority('ADMIN')">Toiminnot</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="tuote : ${tuotteet}">
                    <td th:text="${tuote.nimi}"></td>
                    <td th:text="${tuote.tyyppi.tyyppiNimi}"></td>
                    <td th:text="${tuote.vari}"></td>
                    <td th:text="${tuote.koko}"></td>
                    <td th:text="${tuote.hinta}"></td>
                    <td th:text="${tuote.varastomaara}"></td>
                    <td th:text="${tuote.valmistaja}"></td>
                    <td sec:authorize="hasAuthority('ADMIN')">
                        <a class="btn btn-warning" th:href="@{/edit/{id}(id=${tuote.tuoteId})}">Muokkaa</a>
                        <a class="btn btn-danger" href="#" th:href="@{/delete/{id}(id=${tuote.tuoteId})}" onclick="confirmDelete(event)">Poista</a>
                    </td>
                </tr>
            </tbody>
        </table>
    
    </div>
</body>

</html>
