<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tuotteet</title>

    <script>
   
        function confirmDelete(event) {
            event.preventDefault();
            var confirmation = confirm("Haluatko varmasti poistaa tämän tuotteen?");
            if (confirmation) {
                window.location.href = event.target.href; // Siirtyy poistolinkkiin, jos vahvistettu
            }
        }
    </script>
</head>
<body>
    <div style="display: flex; justify-content: space-between; align-items: center; padding-right: 5%; padding-left: 5%; padding-top: 5%;">
        <h1>Tuotelistaus</h1>
        <div sec:authorize="hasAuthority('ADMIN')">
            <a class="btn btn-success" href="/uusituote">Lisää tuote</a>
            <a class="btn btn-success" href="/valmistajat">Valmistajat</a>
        </div>
    </div>
    <div style="padding-left: 5%; padding-right: 5%; padding-top: 2%;">
        <table class="table table-striped" style="margin: 0 auto;">
            <tr>
                <th>Nimi</th>
                <th>Tyyppi</th>
                <th>Väri</th>
                <th>Koko</th>
                <th>Hinta</th>
                <th>Valmistaja</th>
                <th sec:authorize="hasAuthority('ADMIN')">Toiminnot</th>
            </tr>   
            <tr th:each="tuote : ${tuotteet}">
                <td th:text="${tuote.nimi}"></td>
                <td th:text="${tuote.tyyppi.tyyppiNimi}"></td>
                <td th:text="${tuote.vari}"></td>
                <td th:text="${tuote.koko}"></td>
                <td th:text="${tuote.hinta}"></td>
                <td th:text="${tuote.valmistaja}"></td>
                <td sec:authorize="hasAuthority('ADMIN')">
                    <a class="btn btn-warning" th:href="@{/edit/{id}(id=${tuote.tuoteId})}">Muokkaa</a>
                    <a class="btn btn-danger" href="#" th:href="@{/delete/{id}(id=${tuote.tuoteId})}" onclick="confirmDelete(event)">Poista</a>
                </td>    
            </tr>
        </table>
        <div style="display: flex; justify-content: center; padding:50px">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Kirjaudu ulos" class="btn btn-sm btn-danger"/>
            </form>
        </div>
    </div>

    
</body>
</html>