<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tuotteet</title>
</head>
<body>
    <h1>Tuotelistaus</h1>
    <td>
        <a class="btn btn-success" href="/uusituote">Lisää tuote</a>
    </td>
    <table class="table table-striped" style="padding:1%; margin:auto">
        <tr>
            <th>Nimi</th>
            <th>Väri</th>
            <th>Koko</th>
            <th>Hinta</th>
            <th>Valmistaja</th>
            <th>Toiminnot</th>
        </tr>   
        <tr th:each="tuote : ${tuotteet}">
            <td th:text="${tuote.tyyppi}"></td>
            <td th:text="${tuote.vari}"></td>
            <td th:text="${tuote.koko}"></td>
            <td th:text="${tuote.hinta}"></td>
            <td th:text="${tuote.valmistaja}"></td>
            <td>
                <a class="btn btn-warning" th:href="@{/edit/{id}(id=${tuote.tuoteId})}">Muokkaa</a>
                <a class="btn btn-danger" th:href="@{/delete/{id}(id=${tuote.tuoteId})}">Poista</a>
            <td>
            
        </tr>
    </table>
</body>
</html>