<!DOCTYPE html>
<html lang="en" 
xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uusi tuote</title>
</head>
<body>
    <h1>Uuden tuotteen tiedot</h1>
    <form th:object="${tuote}" th:action="@{save}" action="#" method="post">
        <label for="tyyppi">Nimi</label>
        <input type="text" id="title" th:field="*{nimi}" />
        <label for="tyyppi">Tyyppi</label>
        <select th:field="*{tyyppi}">
            <option th:each="tyyppi : ${tuotetyypit}" 
                    th:value="${tyyppi.tyyppiId}" 
                    th:text="${tyyppi.tyyppiNimi}"></option>
        </select>

        <label for="vari">Väri</label>
        <input type="text" id="author" th:field="*{vari}" />

        <label for="koko">Koko</label>
        <select th:field="*{koko}">
            <option th:each="koko : ${koot}" th:value="${koko}" th:text="${koko}"></option>
        </select>

        <label for="hinta">Hinta</label>
        <input type="text" th:field="*{hinta}" />

        <label for="valmistaja">Valmistaja</label>
        <select th:field="*{valmistaja}">
            <option th:each="valmistaja : ${valmistajat}" th:value="${valmistaja.valmistajaId}" th:text="${valmistaja.valmistajaNimi}"></option>
        </select>
        <input type="submit" value="Save"></input>
        <a href="/tuotteet">Takaisin tuotelistaukseen</a>
        
    </form>
</body>
</html>