<!DOCTYPE html>
<html lang="en" 
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uusi tuote</title>
</head>
<body>
    <h1>Uuden tuotteen tiedot</h1>
    <form th:object="${tuote}" th:action="@{save}" action="#" method="post">
        <label for="tyyppi">Tyyppi</label>
        <input type="text" id="title" th:field="*{tyyppi}" />

        <label for="vari">Väri</label>
        <input type="text" id="author" th:field="*{vari}" />

        <label for="koko">Koko</label>
        <input type="text" th:field="*{koko}" />

        <label for="hinta">Hinta</label>
        <input type="text" th:field="*{hinta}" />

        <label for="valmistaja">Valmistaja</label>
        <select th:field="*{valmistaja}">
            <option th:each="valmistaja : ${valmistajat}" th:value="${valmistaja.valmistajaId}" th:text="${valmistaja.valmistajaNimi}"></option>
        </select>
        <input type="submit" value="Save"></input>
        
    </form>
</body>
</html>