<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valmistajan tuotteet</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div style="padding: 5%;">
        <!-- Title Section -->
        <div>
            <h1 th:text="'Valmistajan ' + ${valmistaja.valmistajaNimi} + ' tuotteet'"></h1>
        </div>

        <!-- Navigation Buttons -->
        <div style="display: flex; justify-content: flex-end; margin-top: 20px;">
            <div style="margin-right: 20px;">
                <a class="btn btn-warning" href="/valmistajat">Takaisin valmistajalistaukseen</a>
            </div>
            <div>
                <a class="btn btn-primary btn-custom" href="/index">Takaisin etusivulle</a>
            </div>
        </div>

        <!-- Table of Products -->
        <div style="padding-top: 2%;">
            <table class="table pink-table table-hover" style="margin: 0 auto;">
                <thead>
                    <tr>
                        <th>Nimi</th>
                        <th>Tyyppi</th>
                        <th>Väri</th>
                        <th>Koko</th>
                        <th>Hinta</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="tuote : ${tuotteet}">
                        <td th:text="${tuote.nimi}"></td>
                        <td th:text="${tuote.tyyppi.tyyppiNimi}"></td>
                        <td th:text="${tuote.vari}"></td>
                        <td th:text="${tuote.koko}"></td>
                        <td th:text="${tuote.hinta} + ' €'"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>
